@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

.login{
    margin: 70px 0;
}

.login__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 68px;
}

.login__title{
    color: rgb(35, 37, 54);
    font-family: "Sen", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.login__input{
    padding: 24px;
    width: 768px;
}

.login__btn{
    background-color: #ffd04f;
    cursor: pointer;
    border: none;
    padding: 24px;
    color: rgb(35, 37, 54);
    font-family: "Sen", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}